* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  
  .navbar h1 {
    height: 200px;
     
    
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .submit {
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

  }

  .submit h3 {
    margin: 20px;
  }