* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bar {
  width: 100%;
  height: 60px;
  background-color: #0009;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  margin-top: 20px;
}

.bar ul li a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 24px;
}

.mid {
  font-size: 12px;
}

.login {
  font-size: 12px;
}

.image {
  background-image: url(/images/main-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  position: relative;
}

.oldgame {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-size: larger;
}

.oldgame h4 {
  font-size: 72px;
}

.button1 {
  border: thin;
  color: black;
  padding: 10px;
  background-color: #ebc034;
  width: 10em;
}

.button1 h6 {
  font-weight: 900;
}

.story {
  position: relative;
  top: 140px;
}

.bg-image2 {
  width: 100%;
  height: 100vh;
  background-image: url(/images/image/the-games-bg.jpg);
  background-size: cover;
  background-position: center;

  overflow-x: hidden;
}

.image2 {
  background-image: url(/rockpaperstrategy.jpg);
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 250px;
  overflow-x: hidden;
}

.middle2 {
  color: #fff;
  font-size: x-large;
  width: fit-content;
  position: relative;
  top: 200px;
  right: 100;
}

.background3 {
  width: 100%;
  height: 100vh;
  background-image: url(/images/features.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.middle3 {
  color: #fff;
  font-size: ;
  width: fit-content;
  position: relative;
  left: 700px;
  top: 100px;
  font-size: large;
}

.middle3 h4 {
  font-size: 40px;
  margin-top: -10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.middle3-2 {
  color: #fff;
  font-size: ;
  width: fit-content;
  position: relative;
  left: 750px;
  top: 150px;
}

.middle3-2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-align: justify;
}
.middle3-3 {
  color: #ffb548;
  font-size: ;
  width: fit-content;
  position: relative;
  left: 750px;
  top: 200px;
}

.middle3-4 {
  color: #ffb548;
  font-size: ;
  width: fit-content;
  position: relative;
  left: 750px;
  top: 250px;
}

.background4 {
  width: 100%;
  height: 100vh;
  background-image: url(/images/bg-image4.jpg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #080a0b;
}

.req {
  color: white;
  border: 1px solid white;
  border-collapse: collapse;
  text-align: left;
  width: 500px;
  position: relative;
  top: 130px;
  left: 200px;
  min-width: 400px;
  padding: 10px;
}

.req table,
th,
td {
  padding: 10px;
  border: 1px solid #979797;
  border-collapse: collapse;
  position: ;
}

.req tr {
}

.req td {
  border: 1px solid #979797;
}

.req th {
  border: 1px solid #979797;
}

.req table,
th,
td,
.os {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.text4 {
  margin: 0;
  color: white;
  text-align: left;
  position: relative;
  left: 200px;
  top: 120px;
  bottom: 0;
  padding: 8px 16px;
  width: 600px;
}

.text4-2 {
  color: white;
  position: relative;
  left: 200px;
  top: 120px;
  bottom: 0;
  padding: 8px 16px;
  width: 600px;
}

.os {
  color: #ffb548;
}

.pro {
  color: #ffb548;
}

.meme {
  color: #ffb548;
}

.background5 {
  background-image: url(/images/bg-image5.jpg);
  width: 100%;
  height: 100vh;
  position: ;
  background-size: cover;
  background-repeat: no-repeat;
}

.border-1 {
  width: 400px;
  padding: 10px;
  border: none;
  margin: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 25px;
  position: relative;
  left: 700px;
  top: 70px;
}

.name1 {
  position: relative;
  left: 100px;
}

.name1 h6 {
  color: #ffb548;
}

.name1 p {
  color: #ffffff;
  opacity: 0.5;
}

.exp1 p1 {
  color: #ffffff;
  opacity: 0.5;
}

.img-8 {
  width: 200px;
  height: 0vh;
  position: relative;
  bottom: 135px;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.img-9 {
  width: 200px;
  height: 0vh;
  position: relative;
  left: 300px;
  bottom: 160px;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.border-2 {
  width: 400px;
  padding: 10px;
  border: none;
  margin: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 25px;
  position: relative;
  left: 640px;
  top: 80px;
}

.name2 {
  position: relative;
  left: 200px;
  top: 10px;
}

.name2 h6 {
  color: #ffb548;
}

.name2 p {
  color: #ffffff;
  opacity: 0.5;
}

.exp2 p1 {
  color: #ffffff;
  opacity: 0.5;
}

.border-3 {
  width: 400px;
  padding: 10px;
  border: none;
  margin: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 25px;
  position: relative;
  left: 700px;
  top: 90px;
}

.name3 {
  position: relative;
  left: 100px;
  top: 10px;
}

.name3 h6 {
  color: #ffb548;
}

.name3 p {
  color: #ffffff;
  opacity: 0.5;
}

.exp3 p1 {
  color: #ffffff;
  opacity: 0.5;
}

.img-10 {
  width: 200px;
  height: 0vh;
  position: relative;
  bottom: 135px;
  left: 10px;
}

.top-scores {
  width: 500px;
  height: 0vh;
  position: relative;
  top: 200px;
  left: 200px;
}

.top-scores h2 {
  color: white;
  line-height: 80%;
}

.top-scores p {
  color: white;
  line-height: 0;
}

.button2 {
  margin-top: 30px;
  border: thin;
  color: black;
  padding: 10px;
  background-color: #ebc034;
  width: 10em;
}

.background6 {
  background-image: url(/images/bg-image6.jpg);
  width: 100%;
  height: 125%;
  position: relative;
  top: 175px;
  padding-bottom: 20px;
}

.footer {
  font-family: "Open Sans", sans-serif;
  padding: 40px 0;
}

.footer .social {
  text-align: right;
  font-size: 30px;
  word-spacing: 30px;
  margin-right: 100px;
  position: absolute;
  bottom: 100px;
  right: 10px;
}

.footer .social a {
  text-align: center;
  font-size: 30px;
  width: 40px;
  line-height: 60px;
  margin: 0 0px;
  color: #fff;
}

.footer .text7 {
  text-align: center;
  font-size: 12px;
  word-spacing: 30px;
  margin-right: 100px;
  position: absolute;
  bottom: 100px;
  right: 300px;
  text-decoration: none;
}

.footer .text7 ul a {
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.hr {
  color: #fff;
  width: 84%;
  height: 2px;
  border: 4px;
  position: absolute;
  top: 720px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.bot-text1 {
  display: flex;
  justify-content: space-around;
}

.bot-text1 .text8 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  margin-left: 650px;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.bot-text1 .text7 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  margin-right: 700px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.page6-text {
  color: white;
  width: 600px;
  height: 100px;
  position: relative;
  left: 650px;
  top: 200px;
}

.page6-text .line2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  letter-spacing: 3px;
  text-transform: uppercase;
}

.page6-text .line3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.img-page6 {
  background-image: url(/images//page6-img.jpg);
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin-bottom: -20px;
  margin-top: -80px;
  position: relative;
  left: 200px;
}

.email-input {
  width: 250px;
  position: absolute;
  left: 650px;
  bottom: 330px;
}

.form-group {
  position: relative;
}

.button-6 {
  width: 200px;
  height: 40px;
  border: none;
  position: relative;
  top: 260px;
  left: 260px;
  border: thin;
  color: black;
  padding: 10px;
  background-color: #ebc034;
}

.button-6 p {
  font-weight: bold;
}

.border-3 .name3 a {
}
