<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css"/>
    <title>Document</title>
</head>
<body>
    <div class="navbar"><h1>WELCOME PLAYER</h1></div>
    
    <div class="submit">
            <h3>LOGIN HERE</h3>
        <form action="/loginGate" method="get">
            <label for="name">Username:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br><br>
            <button>submit</button>
          </form> 

    </div>
</body>
</html>