<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Challenge chapter 3</title>
    <meta name="viewport" content="width=device width, initial-scale:1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
 
<div class="image" >
<div class="bar">
    <div class="logo">
        <ul>
        <li><a href=>LOGO</a></li></ul>
</div>
    <div class="mid">
    <ul>
        <li><a href=>HOME</a></li>
        <li><a href=>WORK</a></li>
        <li><a href=>CONTACT</a></li>
        <li><a href=>ABOUT US</a></li> 
    </ul>
  </div>
    <div class="login">
    <ul>
    <li><a href=>SIGN UP</a></li>
    <li><a href=>LOG IN</a></li></div></ul>
</div>
<div class="oldgame">
  <h4>PLAY TRADTIONAL GAME</h4><br>
  <P>experient new traditional game play</P><br>
  <button class="button1" onclick="myFunction()"><h6>PLAY NOW</h6></button> 

<div class="story">THE STORY</div>

</div>
<div class="arrow">

  
</div>
</div>

<div class="bg-image2">
  <div class="image2"><i</div>
  <div class="middle2">
    <p>What's so special?</p>
    <br/>
    <h1>THE GAMES</h1>
  </div>  
  
  </div> 
</div>
<div class="background3">
  <div class="middle3">
    <p>What's so special?</p>
    <h4>FEATURES</h4>
  </div>
  <div class="middle3-2">
    <h4>TRADITIONAL GAMES</h4><br>
    <p>If you miss your childhood, we provide<br> many traditional games here</p>
    
  </div>
  <div class="middle3-3">
    <h4>GAME SUIT</h4>
  </div>
  <div class="middle3-4">
    <h4>TBD</h4>
  </div>
</div>

<div class="background4">
<div class="text4"><h4>SYSTEM<br>REQUIREMENT</h4></div>
<div class="text4-2"><p>Can My Computer Run this game ?</p></div>
<table class="req">
  
  <thead>
    <tr>
      <th><p class="os">OS:<br></p>
      Windows 7 64 only<br>
      (No OSX Support at this time)</th>
      <th><p class="os">PROCESSOR:<br></p>
      Intel Core 2 Duo @ 2.4GHZ or<br>
      AMD Athlon X2 @ 2.8GHZ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p class="os">MEMORY:<br></p>
        4 GB RAM
      </td>
      <td><p class="os">STORAGE<br></p>
        8 GB availabe space
      </td>
    </tr>
  </tbody>
    <tr>
      <td colspan="2"><p class="os">GRAPHICS:<br></p>
      Nvidia GeForce GTX 660 2GB or<br>
      AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</td>
    </tr>
</table>
</div>

<div class="background5">

  <div class="top-scores">
    <h2>TOP SCORES</h2><br>
    <p>This top scores from various games provided</p>
    <p>on this platform</p>
    <button class="button2"><h6>see more</h6></button> 
  </div>

  <div class="border-1">
    <div class="name1">
    <h6>Raphael Lathi</h6>
    <p>PC gamers</p>
    </div>
    <div class="exp1">
    <p>"One of my gaming hightlights of the years."</p>
    <p1>october 18,2018</p1>
    </div>
    <div class="img-8">
      <img src="images/image-8.jpg" class="rounded-circle" alt="...">
    </div>
  </div>


  <div class="border-2">
    <div class="name2">
      <h6>Peter Griffin</h6>
      <p>Nerdreactor</p>
      </div>
      <div class="exp1">
      <p>"The next big thing is the world of streaming and survival games."</p>
      <p1>December 21,2018</p1>
      </div>


      <div class="img-9">
        <img src="images/image-9.jpg" class="rounded-circle" alt="...">
      </div>  

  </div>
  
  <div class="border-3">
    <div class="name3">
     
      <h6>Ayayron</h6>
      <p>Uproxx</p>
      </div>
      <div class="exp3">
      <p>"Snoop dog Playing the Wildly Entertaining."</p>
      <p1>December 24,2018</p1>
      </div>
      <div class="img-10">
        <img src="images/image-10.jpg" class="rounded-circle" alt="...">
      </div>  

      
      
  </div>


  <div class="background6">

    <div class="page6-text">
      <button class="button-6"><P>SUBSCRIBE</P></button> 
      <div class="line1"><p>Want to stay in touch?</p></div>
      <div class="line2"><p>NEWSLATTER SUBSCRIBE </p></div>
      <div class="line3"><p>In order to start receiving our news, all you have to do is enter your email<br> address. Everything else will be taken care of by us. We will send you emails<br> containing information about game. We don’t spam.</p></div>
    </div>
    <div class="img-page6">
      #
    </div>
    
    <div class="email-input">
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email address">
       
      </div>
    </div>

    
     
    <div class="footer">
     

      <hr class="hr">
      <div class="social">
        
    
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitch"></i></a>
      </div>

     <div class="text7">
      <ul>
        <li>
          <a href="#">HOME</a>
          <a href="#">ABOUT</a>
          <a href="#">GAME FEATURES</a>
          <a href="#">SYSTEM REQUIREMENT</a>
          <a href="#">QUOTES</a>
        </li>
      </ul>
    
      </div>
    

    </div>

    <div class="bot-text1">
      
     <div class="text7"> <p> © 2018 Your Games, Inc. All Rights Reserved</p></div>
     <div class="text8"> <p>Privacy Policy | Terms of Services | Code of Conduct </p></div> 
    </div>
  </div> 

  
</div>

<script src="javascript/click.js"></script>

</body>
  
</html>
